* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

header {
    width: 100%;
    height: 6rem;
    background-color: aqua;
}

nav {
    width: 100%;
    background-color: blue;
    padding: .5rem;
}

nav > ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

nav > ul > li {
    text-align: center;
    background-color: aquamarine;
    list-style-type: none;
    font-size: 1.5rem;
}

main {
    background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    gap: .5rem;
}

main > section {
    width: 100%;
    background-color: black;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;    
}

main > section > article {
    background-color: blanchedalmond;
    aspect-ratio: 1;
}

main > aside {
    width: 100%;
    height: 10rem;
    background-color: crimson;
}

.wrapper > aside {
    width: 100%;
    height: 6rem;
    background-color: darkcyan;
    display: none;
}

footer {
    width: 100%;
    height: 6rem;
    background-color: chocolate;
}

@media (min-width: 650px) {
    main {
        flex-direction: row-reverse;
    }

    main > section {
        flex: 7;
        grid-template-columns: repeat(3, 1fr);
    }

    main > aside {
        flex: 3;
        height: inherit;
    }
}

@media (min-width: 750px) {
    nav > ul {
        flex-direction: row;
    }

    nav > ul >li {
        flex: 1;
        font-size: 2rem;
        padding: 1rem;
    }

    .wrapper > aside {
        display: block;
    }
}

@media (min-width: 992px) {
    main > section {
        grid-template-columns: repeat(4, 1fr);
    }
}